<header>
  <h1>I'm alive!</h1>
</header>

<div>
  <p>This is my face:</p>
  <img src="http://static.tvtropes.org/pmwiki/pub/images/Something_other_than_Frankenstein.jpg" alt="Frankenstein" />
</div>

<footer>
  <a href="/read-more">Read more about me</a>
</footer>
