<header>
  <h1>I'm alive!</h1>
</header>

<div>
  <p>
    This is my face...
  </p>
  <img src="/franky.jpg" alt="Frankenstein" />
</div>

<footer>
  <a href="/read-more">Read more about me</a>
</footer>
