<!DOCTYPE html>
<html>
  <head>
    <title>My Sinatra App</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" media="screen" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>
